{% extends 'base.html.twig' %}

{% block body %}

    {% if editMode==0 %}
        <h1>Client creation</h1>

        {{ form_start(formClient) }}
            {{ form_widget(formClient) }}
            <input type="submit" value="Create" />
        {{ form_end(formClient) }}

        <ul>
            <li>
                <a href="{{ path('_index') }}">Back to the list</a>
            </li>
        </ul>

    {% else %}

        <h1>Modification du client {{ client.nom }} {{ client.prenom }}</h1>

        {{ form_start(formClient) }}
            {{ form_widget(formClient) }}
            <input class="btn btn-sm btn-success" type="submit" value="Modifier" />
        {{ form_end(formClient) }}

    
            <a class="btn btn-secondary btn-sm" href="{{ path('_index') }}"><i class="fas fa-arrow-left"></i>Revenir à la liste</a>
       
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalSupp">
                <i class="fas fa-user-minus"></i>Supprimer
            </button>
            <!-- Modal -->
            <div class="modal fade" id="ModalSupp" tabindex="-1" role="dialog" aria-labelledby="ModalSuppLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSuppLabel">Validation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce client ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    
                    {# {{ form_start(delete_form) }}
                        <input class="btn btn-danger btn-sm" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }} #}

                    <a class="btn btn-danger btn-sm" href="{{ path('_delete', { 'idClient': client.id }) }}">Supprimer</a>
                    
                </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
