{% extends 'base.html.twig' %}

{% block body %}
    <h2>La liste des Clients</h2>
    <h3>Nombre total={{ total }}</h3>
<br/>
<a href="{{ path('_clients_to_pdf')}}" class="btn btn-primary btn-sm">PDF</a>
    <table id="clients" class="table table-striped table-bordered">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Type de client</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                {# <td><a href="{{ path('_show', { 'id': client.id }) }}">{{ client.id }}</a></td> #}
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.typeClient }}</td>
                <td>
                    
                            <a class="btn btn-sm btn-primary" href="{{ path('_show', { 'id': client.id }) }}"><i class="fas fa-eye"></i>visualiser</a>
                        
                    
                            <a class="btn btn-warning btn-sm" href="{{ path('_form', { 'id': client.id }) }}"><i class="fas fa-user-edit"></i>modifier</a>
                        
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
            <a class="btn btn-success" href="{{ path('_form') }}"><i class="fas fa-user-plus"></i>Ajouter client</a>
    
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/client/js/projetJS/projet.js') }}"></script>
{% endblock %}
