<table style="border: 1px solid black;">
        <thead>
            <tr style="border: 1px solid black; width=100%;">
                <th style="border: 1px solid black;">Nom</th>
                <th style="border: 1px solid black;">Prenom</th>
                <th style="border: 1px solid black;">Email</th>
                <th style="border: 1px solid black;">Telephone</th>
                <th style="border: 1px solid black;">Type de client</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.type.typeclient }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
