{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
                <th>Tel</th>
                <td>{{ client.tel }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ client.type.typeclient }}</td>
            </tr>
        </tbody>
    </table>

    
            <a class="btn btn-secondary btn-sm" href="{{ path('_index') }}"><i class="fas fa-arrow-left"></i>Revenir à la liste</a>
       
            <a class="btn btn-warning btn-sm" href="{{ path('_form', { 'id': client.id }) }}"><i class="fas fa-user-edit"></i>Modifier</a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalSupp">
                <i class="fas fa-user-minus"></i>Supprimer
            </button>
            <!-- Modal -->
            <div class="modal fade" id="ModalSupp" tabindex="-1" role="dialog" aria-labelledby="ModalSuppLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSuppLabel">Validation de suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce client ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-sm" href="{{ path('_delete', { 'idClient': client.id }) }}">Supprimer</a>
                    
                </div>
                </div>
            </div>
            </div>
        
    </ul>
{% endblock %}
